@import "tailwindcss";

.bgmain{
  background-color:#88C75C ;
}
.jaini {
  font-family: "Jaini", serif;

}
.textcol{
  color:#88C75C ;
}
body{
  background-color: #E7F8DC;
}
.road {
  font-family: "Road Rage", serif;

}
.rubik {
  font-family: "Rubik Distressed", serif;

}
.rocknroll{
  font-family: "RocknRoll One", serif;

}
.roboto {
  font-family: "Roboto", serif;

}
